<br>
<h5>Atualizar- Agendamento de Potenciais Clientes</h5>
<h6>Sistema utilizado para agendamentos de serviços</h6>
<br>

<form action="">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Origem</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Celular</option>
            <option value="1">Site</option>
            <option value="2">Telefone</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Data do contato</label>
        <input type="date" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Observação</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br>
    <button type="button" class="btn btn-primary">Editar</button>
    <br>
    <br>
</form>